html 
    head  
    title= titulo 
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="estilos.css")
    body 
        div.container
            h1 Agenda de Contactos
            input(type="text" placeholder="Nombre" id="nombre")
            input(type="text" placeholder="Número" id="numero")
            button(id="btn_agregar") Agregar Contacto
            p ---------------------------------------
            h3 id Nombre Número
            each contacto in contactos 
                div.contacto
                    p=`${contacto.id_contacto} - ${contacto.nombre} - ${contacto.numero}`
                    span(class="borrar material-icons" id=contacto.id_contacto) delete 

    script(src="funciones.js")